<%- include('../elements/head') %>

<body>
	<%- include('../elements/navbar') %>
	
	<%- include('../elements/teaser') %>
	
	<%- include('../elements/stories') %>
	
	<%- include('../elements/job_offer') %>
	
</body>

</html>
